* {
    font-family: var(--body-font);
    font-size: 1.6rem;
    line-height: 1.6;
}

span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

html,
body {
    /* Disables pull-to-refresh and overscroll glow effect.
     Still keeps swipe navigations. */
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    color: var(--body);
}

// Typography
strong,
em {
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.6rem;
    font-weight: normal;
}

h1 {
    font-size: 8rem;
    font-weight: bold;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
    opacity: 0.6;
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
}

h5 {
    font-size: 1.4rem;
    font-weight: normal;
}

h6 {
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
}

a.link,
button.link {
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    width: fit-content;
    color: var(--accent-1);
    text-decoration: none;
    border-bottom: 1px dashed currentColor;
    line-height: 1.25;
}

p > a {
    color: var(--accent-4);
    text-decoration: none;
}

.link,
.icon {
    cursor: pointer;
    &:hover {
        filter: brightness(0.8);
    }
}

code {
    font-family: monospace;
    color: var(--body);
    background-color: var(--overlay);
    padding: 0.1rem 0.4rem;
}

pre {
    border-left: 0.4rem solid var(--accent-1);
    text-align: left;
    padding: 1rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: monospace;
    min-height: 3.8rem;
}

// Utility
.muted {
    opacity: 0.5;
}

.instructive {
    opacity: 0.5;
    font-style: italic;
}

.full-width {
    width: 100%;
}

.glass {
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

i {
    font-size: 1.2rem;
}

:focus {
    outline: none;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    &.wrap {
        flex-wrap: wrap;
    }

    &.center {
        justify-content: center;
        align-items: center;
    }

    &.spread {
        justify-content: space-between;
    }

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
}

section {
    padding: 8rem 4rem;
    margin: 0 auto;
    max-width: 120rem;
    width: 100%;
    box-sizing: border-box;
}

// Color classes
.color-accent-1 {
    color: var(--accent-1);
}

.color-accent-2 {
    color: var(--accent-2);
}

.color-accent-3 {
    color: var(--accent-3);
}

.color-accent-4 {
    color: var(--accent-4);
}

.color-accent-5 {
    color: var(--accent-5);
}
